/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   .content-wrapper{
    width:90%;
  }
  
/*------BASE HEADER AND FOOTER STYLES-------*/

header, footer{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

header{
  padding:15px 0;
}

header .content-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
  margin: 0;
}

header nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-flow:row wrap;
  width:60%;
}

header nav ul{
  display:flex;
  justify-content:space-around;
  width:100%;

}

.header-divider{
  width:100%;
  height:1px;
  margin: 10px 0 20px 0;
}

footer{
  flex-direction:column;
}

footer .social-icons{
  display:flex;
  justify-content:space-around;
  align-items:center;
}

footer .social-icons p{
  display:flex;
  justify-content:space-around;
  align-items:center;
}

footer p{
 margin: 0;
}

footer .content-wrapper{
  width:55%;
  margin:50px 0;
}

footer .contact{
  margin-bottom:50px;
}
footer .copyright{
  margin:20px 0;
}
/*------MOBILE HOMEPAGE---------*/

/*---HERO STYLE---*/
.hero-area{
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
}

/*----ASIDE----*/
aside{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

/*----FEATURES----*/
.features{
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
}
.features p{
  margin: 0;
}
.features article{
  width:63%;
  margin:30px 0;
}

.features h2{
  margin-bottom:60px;
}
.features .features-items{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

/*----REVIEWS----*/
.reviews{
  display:flex;
  justify-content:center;
  flex-flow:row wrap;
}

.reviews h2{
  margin-bottom:40px;
}

.reviews h3{
  width: 55%;
  margin: 20px 0;
}

/*----ABOUT PAGE----*/
.mission{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}
.contact-section{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}
.contact-information p{
  margin:0;
}

/*----FAQ PAGE----*/
.faq{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

.faq .content-wrapper{
  margin: 50px 0 0 0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:row wrap;
}

.faq h2{
  margin-bottom:40px;
}

.faq content{
  margin-bottom:50px;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
    /*GENERAL STYLES*/
    .content-wrapper{
      max-width:640px;
      margin:100px 0;
    }

    /*HEADER*/
    header{
      justify-content:space-around;
      padding:33px 0;
    }

    header .content-wrapper{
      justify-content:space-between;
      width:100%;
    }
    header nav{
      width:20%;
    }
    header nav ul{
      width: 160px;
      justify-content:space-between;
    }

    .header-divider{
      display:none;
    }

    /*HERO AREA*/

    aside .content-wrapper{
      justify-content: space-between;
      display:flex;
      flex-flow:row wrap;
      margin: 50px 0;
    }

    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
      width: 40%;
      margin: 0;
    }
        
    /*FEATURES*/
    .features article{
      width:160px;
      display:flex;
      justify-content:center;
      align-items:center;
      flex-flow:column wrap;
      flex-basis: 50%;
    }
    .features .features-item-description {
      width: 50%;
    }
  
    /*REVIEWS*/
    .reviews article{
      display:flex;
      justify-content:space-between;
    }
    .reviews article div{
      width: 49%;
    }

    /*FOOTER*/
    .footer-content{
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
    footer .content-wrapper{
      width: 65%;
      margin: 100px 0;
    }

    footer .contact {
      margin-bottom: 0;
    }
  
    footer .copyright {
      width: 100%;
      text-align:center;
    }

    /*-------ABOUT PAGE------*/
    .mission-content {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding-top:20px;
  }

  .mission-content p {
      width: 45%;
  }

  .contact-section .content-wrapper h2 {
      width:80%;
  }

  .contact-content {
      display:flex;
      justify-content:space-between;
      align-items:flex-start;
}

    /*---FAQ PAGE----*/
    .faq .content-wrapper {
      justify-content: space-between;
  }
  
  .faq-content {
      flex-basis: 40%;
  }

  .faq h2 {
      width: 100%;
  }
  }
     
    @media only screen and (min-width: 1200px) {
    .content-wrapper{
      max-width: 960px;
      }

    /*HERO*/
    .hero-area h1{
      width:60%;
    }

/* Aside */
aside .content-wrapper {
  justify-content: space-around;

}

aside .content-wrapper .form-description,
aside .content-wrapper .form {
  width:30%;

}

/* Features */
.features h2 {
  width: 90%;
}

.features article {
  flex-basis: 33%;
}

/* Reviews */ 
.reviews article div {
  width: 42%;
}

/*ABOUT PAGE*/

.mission h2,
    .contact-section .content-wrapper h2 {
        width: 95%;
    }

/*FAQ PAGE*/
.faq h2 {
  width: 100%;
}

    }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

